a.social-icon.animate-prep(href=data.social.twitter, target='_blank'): include svg/_twitter
a.social-icon.animate-prep(href=data.social.facebook, target='_blank'): include svg/_facebook
a.social-icon.animate-prep(href=data.social.google_plus, target='_blank'): include svg/_googleplus
a.social-icon.animate-prep(href=data.social.instagram, target='_blank'): include svg/_instagram
a.social-icon.animate-prep(href=data.social.youtube, target='_blank'): include svg/_youtube