section.site-map: .grid.grid--bleed.grid--justify-space-between
  .grid__col-xs-6.grid--direction-column
    p: a(href=data.paths.commit) Commit something to the Android Intel Hub
    .grid.grid--bleed
      .link-nav-set.grid__col-xs-12.grid__col-sm-10.grid--align-center.grid--justify-space-between.grid--direction-row
        a(href=data.paths.feed) Feed
        a(href=data.paths.field_guide) Field Guide
        a(href=data.paths.authors) Authors
        a(href=data.paths.about) About
        a(href=data.paths.commit) Commit

  .grid__col-xs-4.grid--justify-end.grid--direction-column
    .grid.grid--justify-space-between
      include _social-icons

    .grid.push-top.grid--bleed
      .grid__col-6
        img.grid--align-self-start.contain.lazyload(data-src='http://placehold.it/60x50&text=intel')
      .link-nav-set.grid__col-6.grid--direction-column.grid--justify-end
        a(href=data.paths.terms) Terms of use
        a(href=data.paths.privacy) Privacy
        a(href=data.paths.cookies) Cookies