nav: section.no-responsive-padding: .reflex-container
  .link-nav-set.text-center.reflex-col-9.reflex-align-center.reflex-justify-space-between
    a.flex-child-image-fix(href=data.paths.home)
      img.logo.contain.lazyload(data-src='http://placehold.it/60x25&text=LOGO')

    a(href=data.paths.feed) Feed
    a(href=data.paths.authors) Authors
    a(href=data.paths.about) About
    a(href=data.paths.commit) Commit

    a.flex-child-image-fix(href=data.paths.field_guide)
      img.field-guide.contain.lazyload(data-src='http://placehold.it/120x40&text=FieldGuide')
  .reflex-col-3.reflex-align-center.reflex-justify-end
    include _social-icons
