nav: section.no-responsive-padding: .grid.grid--bleed
  .link-nav-set.text-center.grid__col-9.grid--justify-space-between.grid--direction-row.grid--align-center
    a.flex-child-image-fix(href=data.paths.home)
      include svg/_hub-logo
      //- img.logo.contain.lazyload(data-src='http://placehold.it/60x25&text=LOGO')

    a(href=data.paths.feed) Feed
    a(href=data.paths.authors) Authors
    a(href=data.paths.about) About
    a(href=data.paths.commit) Commit
    a(href=data.paths.field_guide) Field Guide

    //- a.flex-child-image-fix(href=data.paths.field_guide)
    //-   img.field-guide.contain.lazyload(data-src='http://placehold.it/120x40&text=FieldGuide', height='40px')
  .grid__col-3.grid--justify-end.grid--direction-row.grid--align-center
    include _social-icons
