a.social-icon(href=data.social.twitter, target='_blank'): img.contain.lazyload(data-src='http://placehold.it/30x30&text=Tw')
a.social-icon(href=data.social.facebook, target='_blank'): img.contain.lazyload(data-src='http://placehold.it/30x30&text=Fb')
a.social-icon(href=data.social.google_plus, target='_blank'): img.contain.lazyload(data-src='http://placehold.it/30x30&text=G+')
a.social-icon(href=data.social.instagram, target='_blank'): img.contain.lazyload(data-src='http://placehold.it/30x30&text=Ig')
a.social-icon(href=data.social.youtube, target='_blank'): img.contain.lazyload(data-src='http://placehold.it/30x30&text=Yt')