doctype html
html
  - var hero = post.heroimage ? post.heroimage : 'http://placehold.it/1400x577&text=_'
  - var author_handle = post._categories[1] ? post._categories[1] : 'admin'
  - var author = data.authors[author_handle]
  - var authorImage = author.twitter ? 'https://twitter.com/'+ author.twitter +'/profile_image?size=original' : 'http://placehold.it/200x200?text=' + author.displayname

  head
    include ../includes/_site-meta

    include ../mixins/_og-meta
    +og-meta({
      url:          data.meta.opengraph.url,
      title:        post.title,
      description:  post.excerpt,
      site_name:    data.meta.opengraph.site,
      image:        hero | authorImage
    })

    include ../mixins/_twitter-meta
    +twitter-meta({
      account:      author.twitter,
      site:         author.website,
      title:        post.title,
      description:  post.excerpt,
      creator:      author.displayname,
      image:        hero | authorImage
    })

    title= post.title
    != css('/')

  body
    include ../includes/_nav

    header.reflex-container.reflex-wrap(style='background-image:url(#{hero})')
      .reflex-align-self-center.centered-title.reflex-direction-column.reflex-col-10
        h1.header-title.normal-type= post.title
        h4.thin-type #{author.displayname} | #{post.date}
    
    section
      article
        block content

      a.btn(href='') &laquo; back to index
       
    include ../includes/_footer 
    != js('/')
    //- != JSON.stringify(post)
