doctype html
html
  //- grab the post hero image or set a fallback
  - var hero = post.heroimage ? post.heroimage : 'http://placehold.it/1400x577&text=_'
  - var author = helpers.getAuthor(post, data)
  - var git = helpers.getPostGitData(post, records)

  head
    include ../includes/_font-strategy
    include ../includes/_site-meta

    include ../mixins/_og-meta
    +og-meta({
      url:          data.meta.opengraph.url,
      title:        post.title,
      description:  post.excerpt,
      site_name:    data.meta.opengraph.site,
      image:        hero | author.image
    })

    include ../mixins/_twitter-meta
    +twitter-meta({
      account:      author.twitter,
      site:         author.website,
      title:        post.title,
      description:  post.excerpt,
      creator:      author.displayname,
      image:        hero | author.image
    })

    title= post.title
    != css('/')

  body
    include ../mixins/_nav
    +nav('feed')

    header.grid.lazyload(data-bg=hero)
      .grid__col-xs-10.grid__col-lg-8.grid--align-self-center.centered-title.grid--direction-column
        small.header-date(title=git.date)= moment(new Date(git.date)).format("MMM Do YYYY")
        h1.header-title= post.title

        .header-nameplate
          a(href=author.website)
            img.avatar.circle.contain.push-right.lazyload.lazyanimate(src=helpers.getAuthorImage(author))
          .meta
            h3.header-author.thin-type.marginless= author.displayname
            h4.header-subtitle.thin-type.marginless #{author.title} at #{author.company}
            .header-social
              a(href=helpers.socialLink('twitter', author.twitter), target='_blank')
                include ../includes/svg/_twitter-bird
              a(href=helpers.socialLink('github', author.github), target='_blank')
                include ../includes/svg/_github
              a(href=helpers.socialLink('codepen', author.codepen), target='_blank')
                include ../includes/svg/_codepen
    
    main.post: section
      //- main article content
      .card: article
        block content

      //- related posts
      - var relatedPosts = helpers.getRelatedPosts(post, site.posts.all())
      if relatedPosts.length
        include ../mixins/_related-post

        aside.card: article
          h4 Related Articles
          .related-posts
            each post in relatedPosts
              +related-post(post)
       
    .card: section
      img.push-top(src='http://placehold.it/1200x500&text=DisqusArea')

    include ../includes/_footer 
    != js('/')
