extends layouts/_general
include mixins/_nav

block nav
  +nav('commit')
  
block content
  .section-title: section
    h3.marginless.animate-prep Commit
  main: section
    .card
      .grid.grid--bleed.grid--justify-left: .grid__col-sm-10
        h3.marginless.initial-caps Join the Android Hub
        p We believe our Android developers will shape the future of this technology. Get involved by filling out the form below to connect with the developer community and share your ideas.

      .spacer.xs

      form#nl-form.nl-form
        | My name is 
        input#author-name(required, type='text', value='', maxlength='75', placeholder='${name}', data-subline='Tell us your name')
        |  and I have lots of great information I would like to contribute to The Android Hub. You can see my work at 
        input#author-site(required, type='url', value='', maxlength='100', placeholder='${site}', data-subline='Example: <em>https://github.com/your_handle</em>').
        | . My expertise is in  
        select#author-expertise(required)
          option(value, default, selected) ${expertise}
          option(value='native app development') native app development
          option(value='hybrid app development') hybrid app development
          option(value='web apps') web apps
          option(value='app design') app design
        | . I can be reached at 
        input#author-email(required, type='email', value='', maxlength='75', placeholder='${email}', data-subline='For example: <em>foo@bar.com</em>')
        | . I also wanted to mention this: 
        br
        textarea#author-message

        .nl-submit-wrap.text-right
          button.nl-submit.btn.blue.bordered(type='submit') Submit
        .nl-overlay 

      .grid.grid--bleed
        .grid__col-2
          img.grid__cell-img.lazyload.lazyanimate.animate-prep(data-src='/img/megacat.jpg')
        .grid__col-6.grid--align-start
          h3 Github fan?
          p This entire site, each article, and more are all open sourced and available to read/write on Github.
          a.btn.blue.small.bordered(href=data.paths.github, target='_blank') Fork us on Github

      .spacer.md.hidden-xs

block trackers
  if env == 'prod'
    +tracking-pixel('ntjol')
  script.
    var wapLocalCode = 'us-en'; //dynamically set per localized site

    //load analytics
    (function() {
      var host = (window.document.location.protocol == 'http:') ? "http://www.intel.com" : "https://www-ssl.intel.com";
      var url = host+"/content/dam/www/global/wap/wap-android-hub.js"; //wap file url
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;  po.src = url;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
