extends layouts/_general

block nav
  +nav()

block content
  .intro: section: .grid.grid--justify-center
    include includes/svg/_droid
    .text-overlay
      include includes/svg/_droid-hub
      h5.fix-reflex-type.marginless
        each val in "Android tips, tuts and tricks from one developer to another".split('')
          if val == ' '
            span.nbr  
          else
            span.nbr= Math.random() > 0.5 ? 0 : 1

  - var mergedPosts = helpers.getMergedPosts(site, records)
  - var feature = _.filter(mergedPosts, 'featured')[0]
  - var author = helpers.getAuthor(feature, data)
  .hero
    img.heroimage.cover.animate-prep(src=helpers.getHeroImage(feature))
    section
      .commit.hidden-sm: include includes/svg/_commit
      h4.marginless
        a.light(href='https://github.com/intel-android/androidhub/commit/#{feature.git.commit}', target='_blank', title=feature.git.commit)
          | Latest Commit 
          //- small= feature.git.commit.substr(0,7)
      a.light(href=feature._url)
        h1.hero-title.animate-prep= feature.title
      .author-nameplate.animate-prep
        img.avatar.circle.contain.lazyload(src=helpers.getAuthorImage(author))
        h4.marginless.animate-prep by #{author.displayname}
        a.light.animate-prep(href=helpers.socialLink('twitter', author.twitter), target='_blank')
          small @#{author.twitter}

  .recent: section
    .recent-commit.hidden-sm: include includes/svg/_commit
    h4.recent-title
      a.dark(href='https://github.com/intel-android/androidhub/commits/master', target='_blank', title='See commits to the master branch') 
        | Recent Commits
    ul.grid.reverse-margin-md
      - var postsSortedByDate = _.sortBy(mergedPosts, function(post){ return new Date(post.git.date) }).reverse()
      - var count = 0
      
      for post in postsSortedByDate
        if count < 4 && !post.featured
          +feed-home-item(post)
          - count++

  .testimonial.lazyload(data-bg='/img/fractal-blue.png')
    section: .grid.grid--justify-center: .grid__col-xs-12.grid__col-sm-7.grid--direction-column.text-left
      //- img.avatar.circle.contain.lazyload.lazyanimate.pop-out(src=helpers.getAuthorImage({
      //-   twitter: 'deloittedigital',
      //-   displayname: 'Deloitte Digital'
      //- }))
      //- h4.marginless.thin-type 
      //-   | Deloitte Digital | 
      //-   a.light(href=helpers.socialLink('twitter', 'deloittedigital'), target='_blank') @deloittedigital
      h2 Art is subjective. You like it or you don't like it. But design is the science of art. it's art with purpose. Design is about intent.
      a.btn.clear(href=data.paths.field_guide) 
        | Learn more in our Developer Field Guide
        include includes/svg/_arrow

block trackers
  if env == 'prod'
    +tracking-pixel('ntg3e')
