extends layouts/_general
include mixins/_feed-item

block content
  .intro: section: .grid.grid--justify-center
      img.contain.lazyload(data-src='http://placehold.it/450x150&text=AndroidOnIntel', height='150px')

  - var feature = helpers.getFeatured(site)[0]
  - var author = helpers.getAuthor(feature, data)
  .hero: a(href=feature._url): section
    h5.marginless.clearsans-thin Latest Commit
    h1.hero-title.clearsans-bold= feature.title
    .author-nameplate
      img.avatar.circle.contain(src=helpers.getAuthorImage(author))
      h4.marginless= author.displayname
      small @#{author.twitter}

  .recent: section
    h5 Recent Commits
    ul.grid.reverse-margin-md
      - var mergedPosts = helpers.getMergedPosts(site, records)
      //- sort by date
      - var postsSortedByDate = _.sortBy(mergedPosts, function(post){ return post.git.date })
      - var postsReduced = postsSortedByDate.slice(0,4)

      for post in postsReduced
        unless post._ignore
          +feed-item(post)

  .testimonial: section: .grid.grid--justify-center: .grid__col-9.grid--direction-column
    h6 Jason Mark | @jasondesign
    h2 Art is subjective. You like it or you don't like it. But design is the science of art. it's art with purpose. Design is about intent.
    a(href=data.paths.field_guide) 
      | Learn more in our Developer Field Guide
      include includes/svg/_arrow
