extends layouts/_general
include mixins/_feed-item

block content
  .intro: section: .grid.grid--justify-center
      img.contain.lazyload(data-src='http://placehold.it/450x150&text=AndroidOnIntel', height='150px')

  - var feature = helpers.getFeatured(site)[0]
  - var author = helpers.getAuthor(feature, data)
  .hero: a(href=feature._url)
    img.heroimage.cover.lazyload(src=feature.heroimage)
    section
      h5.marginless.clearsans-thin Latest Commit
      h1.hero-title= feature.title
      .author-nameplate
        img.avatar.circle.contain.lazyload(src=helpers.getAuthorImage(author))
        h4.marginless by #{author.displayname}
        small @#{author.twitter}

  .recent: section: .card
    h5 Recent Commits
    ul.grid.reverse-margin-md
      - var mergedPosts = helpers.getMergedPosts(site, records)
      - var postsSortedByDate = _.sortBy(mergedPosts, function(post){ return post.git.date })

      for post in postsSortedByDate.slice(0,4)
        +feed-item(post, 'grid__col-md-3 grid__col-sm-3 grid__col-xs-6')

  .testimonial: section: .grid.grid--justify-center: .grid__col-9.grid--direction-column
    img.avatar.circle.contain.lazyload.pop-out(src=helpers.getAuthorImage({}))
    h6.marginless Jason Mark | @jasondesign
    h2 Art is subjective. You like it or you don't like it. But design is the science of art. it's art with purpose. Design is about intent.
    a.btn.clear(href=data.paths.field_guide) 
      | Learn more in our Developer Field Guide
      include includes/svg/_arrow
