extends layouts/_general
include mixins/_feed-home-item
include mixins/_nav

block nav
  +nav()

block content
  .intro: section: .grid.grid--justify-center
    include includes/svg/_droid
    .text-overlay
      include includes/svg/_droid-hub
      h5.fix-reflex-type.marginless Android tips, tuts and tricks from one developer to another.

  - var feature = helpers.getFeatured(site)[0]
  - var author = helpers.getAuthor(feature, data)
  .hero
    img.heroimage.cover.lazyload.animate-prep(data-src=helpers.getHeroImage(feature))
    section
      .commit.hidden-sm: include includes/svg/_commit
      h4.marginless.clearsans-thin Latest Commit
      a.light(href=feature._url)
        h1.hero-title.animate-prep= feature.title
      .author-nameplate.animate-prep
        img.avatar.circle.contain.lazyload.lazyanimate(src=helpers.getAuthorImage(author))
        h4.marginless by #{author.displayname}
        a.light(href=helpers.socialLink('twitter', author.twitter), target='_blank')
          small @#{author.twitter}

  .recent: section
    .recent-commit.hidden-sm: include includes/svg/_commit
    h4.recent-title Recent Commits
    ul.grid.reverse-margin-md
      - var mergedPosts = helpers.getMergedPosts(site, records)
      - var postsSortedByDate = _.sortBy(mergedPosts, function(post){ return post.git.date })
      - var count = 0
      
      for post in postsSortedByDate
        if count < 4 && !post.featured
          +feed-home-item(post)
          - count++

  .testimonial.lazyload(data-bg='/img/fractal-blue.png')
    section: .grid.grid--justify-center: .grid__col-xs-12.grid__col-sm-7.grid--direction-column
      img.avatar.circle.contain.lazyload.lazyanimate.pop-out(src=helpers.getAuthorImage({
        twitter: 'deloittedigital',
        displayname: 'Deloitte Digital'
      }))
      h4.marginless.thin-type 
        | Deloitte Digital | 
        a.light(href=helpers.socialLink('twitter', 'deloittedigital'), target='_blank') @deloittedigital
      h2 Art is subjective. You like it or you don't like it. But design is the science of art. it's art with purpose. Design is about intent.
      a.btn.clear(href=data.paths.field_guide) 
        | Learn more in our Developer Field Guide
        include includes/svg/_arrow
