mixin author(author)
  li.author.grid__col-xs-6.grid__col-sm-4.grid__col-md-3.grid__col-lg-3(class=post.categories)
    .grid__cell
      img.grid__cell-img.lazyload.cover(data-src=helpers.getAuthorImage(author))
      .name.clearsans-bold= author.displayname
      small #{author.title}, #{author.company}