mixin author(author)
  li.author.grid__col-xs-6.grid__col-sm-4.grid__col-md-3.grid__col-lg-3
    .grid__cell
      img.grid__cell-img.lazyload.lazyanimate.cover(data-src=helpers.getAuthorImage(author))
      .name.clearsans-bold= author.displayname
      small 
        | #{author.title} at 
        a.dark(href=author.website, target='_blank')= author.company
      if author.founder
        small.clearsans-bold Hub Founding Contributor

      .author-social
        if author.github
          a(href=helpers.socialLink('github', author.github), target='_blank')
            include ../includes/svg/_github

        if author.twitter
          a(href=helpers.socialLink('twitter', author.twitter), target='_blank')
            include ../includes/svg/_twitter-bird

        if author.codepen
          a(href=helpers.socialLink('codepen', author.codepen), target='_blank')
            include ../includes/svg/_codepen

        if author.website
          a(href=author.website, target='_blank')
            include ../includes/svg/_link