mixin feed-item(post)
  - var image = post.heroimage ? post.heroimage : 'http://placehold.it/350x150?text=#{post.author}'
  - var author_handle = post._url.split('/')[2]
  - var author = data.authors[author_handle] ? data.authors[author_handle] : 'unknown'

  li.feed-item.grid__col-xs-6.grid__col-sm-4.grid__col-md-4.grid__col-lg-3(class=[post.categories, post.author])
    a(href=post._url, title="Git commit ID: #{post.git.commit}")
      img.grid__cell-img.cover.lazyload(data-src=image)
      h4.post-title= post.title
      small.post-meta #{author.displayname} <span>|</span> #{post.git.date}
      small.post-excerpt= post.excerpt