mixin feed-item(post)
  - var image = post.heroimage ? post.heroimage : 'http://placehold.it/350x150?text=#{post.author}'
  - var author_handle = post._url.split('/')[2]
  - var author = data.authors[author_handle] ? data.authors[author_handle] : 'unknown'

  li.feed-item.reflex-col-xs-6.reflex-col-sm-4.reflex-col-md-4.reflex-col-lg-3(class=[post.categories, post.author])
    a.reflex-item.reflex-item-margin-md(href=post._url)
      img.reflex-img.cover.lazyload(data-src=image)
      h4.post-title= post.title
      small.post-meta #{author.displayname} <span>|</span> #{post.date}
      small.post-excerpt= post.excerpt