mixin nav(cur)
  nav: section.no-responsive-padding: .grid.grid--bleed.grid--justify-space-between
    .grid__col-sm-3
      a.flex-child-image-fix(href=data.paths.home)
        include ../includes/svg/_hub-logo
        //- img.logo.contain.lazyload(data-src='http://placehold.it/60x25&text=LOGO')

    .link-nav-set.grid__col-sm-6.grid--justify-space-around.grid--direction-row.grid--align-self-center
      a(href=data.paths.feed, class={active: cur == 'feed'}) Feed
      a(href=data.paths.authors, class={active: cur == 'authors'}) Authors
      a(href=data.paths.about, class={active: cur == 'about'}) About
      a(href=data.paths.commit, class={active: cur == 'commit'}) Commit
      a(href=data.paths.field_guide) Field Guide

    .auto-width-ss.hidden-sm.grid__col-sm-3.grid--justify-end.grid--direction-row.grid--align-center
      include ../includes/_social-icons
