mixin og-meta(data)
  meta(property='og:title', content=data.title)
  meta(property='og:type', content='article')
  meta(property='og:url', content=data.url)
  meta(property='og:image', content=data.image)
  meta(property='og:description', content=data.description)
  meta(property='og:site_name', content=data.site_name)