mixin twitter-meta(data)
  meta(property='twitter:account_id', content=data.account)
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content=data.site)
  meta(name='twitter:title', content=data.title)
  meta(name='twitter:description', content=data.description)
  meta(name='twitter:creator', content=data.creator)
  meta(name='twitter:image', content=data.image)
  meta(name='twitter:image:src', content=data.image)